<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
        <title>Page Title</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
        <body>

            {{>header}}

             <p> {{data}}</p>

             <form>

                 <input type="text" placeholder="enter location">
                 <button>Predict Weather</button>

                 <p id="msg1"> Loading...</p>
                 <p id="msg2"></p>
             </form>

            {{>footer}}

        <script src="/js/code.js"></script>

        </body>
</html>
